Source: zabbix-cli
Section: misc
Priority: optional
Maintainer: Rafael Martinez Guerrero <rafael@e-mc2.net>
Uploaders: Petter Reinholdtsen <pere@debian.org>
Build-Depends: debhelper (>= 9~)
 , python | python-all | python-dev | python-all-dev
 , python-setuptools
Standards-Version: 4.0.0
Homepage: https://github.com/usit-gd/zabbix-cli
Vcs-Browser: https://github.com/usit-gd/zabbix-cli
Vcs-Git: https://github.com/usit-gd/zabbix-cli
X-Python-Version: >= 2.6

Package: zabbix-cli
Architecture: all
Depends: ${misc:Depends}
 , ${python:Depends}
 , python-requests
 , python-ipaddr
Description: Command-line interface for Zabbix monitoring system
 Zabbix-cli is a terminal client for managing some Zabbix
 administration tasks via the zabbix-API.
