Source: zabbix-cli
Section: misc
Priority: optional
Maintainer: Petter Reinholdtsen <pere@debian.org>
Build-Depends: debhelper (>= 9~)
 , python | python-all | python-dev | python-all-dev
 , python-setuptools
Standards-Version: 3.9.8
Homepage: https://github.com/usit-gd/zabbix-cli
Vcs-Browser: https://github.com/usit-gd/zabbix-cli
Vcs-Git: https://github.com/usit-gd/zabbix-cli
X-Python-Version: >= 2.6

Package: zabbix-cli
Architecture: all
Depends: ${misc:Depends}
 , ${python:Depends}
 , python-requests
Description: Command-line interface for Zabbix monitoring system
 Zabbix-cli is a terminal client for managing some Zabbix
 administration tasks via the zabbix-API.
 .
 The zabbix-cli code is distributed under the GNU General Public
 License 3 and it is written in Python. It has been developed and
 tested by members of the Department for IT Infrastructure at the
 Center for Information Technology at the University of Oslo, Norway.
